<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
  </head>
  <body>
 <%- include('common/header'); %>
  <h2>Its a Login Page</h2>
 <input type='text' placeholder='Enter User Name' name='userName'/>
 <br/>
  <br/>
  <input type='password' placeholder='Enter Password' name='pass'/>
   <br/>
    <br/>
 <button type='submit'>Login</button>
  
  </body>
</html>